.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: white;
  box-shadow: 2px 2px 50px rgb(184, 183, 183);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;

  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;

  align-items: center;
  img {
    width: 30%;
    padding: 1rem;
  }
  &:hover {
    background: paleturquoise;
  }
}

.song-description {
  h3 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.7rem;
  }
}

.selected {
  background: powderblue;
}

.active {
  transform: translateX(0%);
  opacity: 1;
}
