.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 20vh;
}

.time-control {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  input {
    padding: 1rem 0rem;
    width: 100%;
  }
  p {
    padding: 1rem;
  }
}

.play-control {
  display: flex;
  width: 30%;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  svg {
    cursor: pointer;
  }
}
@media screen and (max-width: 768) {
  .time-control {
    width: 90%;
  }
  .play-control {
    width: 60%;
  }
}
